html,body{
    margin: 0;
    padding: 0;
    border:0;
    background:#fff;
    font-size:60px;
    min-height:100vh;
}
body{
    font-size: .26rem;
    padding: 20px 0;
    font-family: "WenQuanYi Micro Hei","Droid Sans Fallback",SimSun,sans-serif;
}
.header,div,p,ul,li,span,img,a,h1,h2,h3{
    margin:0;
    padding:0;
    border:0;
}
a {
    text-decoration: none;
    color:rgb(17, 16, 16);
    font-size: .56rem;
}
ul,li{
    list-style: none;
    margin:0;
    padding:0;
}
h1,h2,h3{
    margin-bottom:10px;
}

.header {
    width:100%;
}
.header ul li {
    width:100%;
    display:none;
}
.header ul li a img{
    width:100%;
}

.ul .active{
      display:block;
    }
    .div1 {
      position:relative;
    }
    .div1 p {
      width:100%;
        height:30px;
      position:absolute;
      top:200px;
      left:0;
      text-align: center;
    }
    .div1 p span{
      width:12px;
      height:12px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid #898989;
      display: inline-block;
      margin-right:6px;
      cursor: pointer;
    }
    .div1 p .point-active{
      background: #ffa111;
    }
.main{
    width:100%;
    max-width:1000px;
    margin:0 auto;
    height:auto;
    position:relative;
}
.main-list{
    width:96%;
    height:auto;
    margin:2%;
 }
 .main_list_header{
    text-align:center;
    height: 1.2rem;
     line-height:1.2rem;
     border-bottom: 1px solid #ffd200;
    font-size: .56rem;
 }
.main-list .main_item{
    width:100%;
    text-align:center;
    height: 3.6rem;
    border-bottom: 1px solid #ffd200;
    font-size: .56rem;
}
.main_item_left, .main_item_right{
    float:left;
    width:50%;
    display:block;
    font-size: .56rem;
    text-align:center;
}
.main_item_left img {
    width:2.2rem;
    padding-bottom:.1rem;
}
.main_item .main_item_left, .main_item .main_item_right{
    height:3.6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.main-list .main_item:hover {
    background: #0bbe0b;
}

.main-list a:hover{
    color:#fff;
}

.footer{
    color:#898989;
    line-height:40px;
    text-align:center;
}
.footer a {
    color:#898989;
}
.footer p {
    margin:0;
    font-size: .56rem;
}
.quli-h1{
    text-align:center;
    height:1.4rem;
    line-height:1.4rem;
    color:rgb(6 75 134);
    font-size:.64rem;
    font-weight: 400;
}
.quli-h2{
    text-align:center;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    display: block;
    height:1.4rem;
    line-height:1.4rem;
    color:#fff;
    border:2px double #24c099;
    font-size:.64rem;
}
.quli-welcome{
    text-align:center;
    height:1.4rem;
    line-height:1.4rem;
    font-size:.60rem;
    color:rgb(43, 243, 243);
}
.quli-welcome a, .quli-welcome button{
    text-align:center;
    height:1.4rem;
    font-size:.60rem;
    color:#fff;
    padding: .2rem .3rem;
    margin-right:2.2rem;
    cursor: pointer;
}
.quli-welcome .btn1{
    color:#eb2cc1;
    height:1.2rem;
    border: .01rem solid #eb2cc1;
    border-radius: 8px;
    background:rgba(0,0,0,.8);
}
.quli-welcome .btn2{
    color:#ebbf2c;
    height:1.2rem;
    border: .01rem solid #ebbf2c;
    border-radius: 8px;
    background:rgba(0,0,0,.8);
}
.quli-welcome .btn3{
    color:#2ad162;
    height:1.2rem;
    border: .01rem solid #2ad162;
    border-radius: 8px;
    background:rgba(0,0,0,.8);
    margin-right:0;
}
.zezhao{
    position:absolute;
    z-index:99;
    top:60px;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.80)
}
.zezhao p {
    color:#fff;
    font-size:.52rem;
    text-align:center;
    line-height:60px;
}
.mnq{
    width:100%;
    max-width:900px;
    margin:0 auto;
    height:auto;
}
.mnq p{
    width:90%;
    margin:24px 5%;
}
.mnq .img{
    width:100%;
}



.dailog_hundred, .dailog_year{
    display:none;
    position:absolute;
    z-index:999;
    width:90%;
    min-height:3rem;
    margin:-100px 0 0 3%;
    border-radius:.22rem;
    padding:2%;
    top:1rem;
    left:0;
    background:rgb(235, 231, 231);
    color:#000;
    font-size:.56rem;
}
.dailog_hundred .button, .dailog_year .button{
    text-align: center;
    height:1rem;
    line-height:1rem;
    color:#24c099;
    cursor: pointer;
}

.duanwu-info{
    width:16rem;
    max-width:900px;
    font-size:.56rem;
    margin:0 auto;
}
.duanwu-info p span{
    color:rgb(43, 243, 243);
}
.duanwu-info p a{
    color:#ccc;
}
.duanwu{
    width:16rem;
    max-width:900px;
    height:22.46rem;
    margin:2vh  auto 0 auto;
    background:url(../img/dw2020.jpg) no-repeat;
    background-size: 16rem 100%;
    position:relative;
}
.goback-container {
    text-align:center;
    margin-top:1rem;
}
.duanwu-info .goback-container a {
    padding:.12rem .24rem;
    border: .02rem solid #898989;
    border-radius: .08rem;
    font-size:.56rem;
    color:rgb(43, 243, 243);
}
